*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    background-color: green;
    color: azure;
    height: 60px;
}
h1{
    padding-top: 10px;
    font-size: 30px;
}
.search{
    margin-top: 280px;
    margin-left: 550px;
}
input{
    padding:10px 80px;
}
input:hover{
    background-color: rgb(224, 224, 224);
}
button{
    padding:10px;
}
button:hover{
    background-color: rgb(81, 193, 81);
}